*{
    text-align: center;
}
#fheading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 60px;
    color: brown;
}
.fbutton {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 15px 90px;
    margin-left:100px;
    width :350px;
    border: #010e02;
    background-color:rgb(49, 130, 59);
    
    color: white;
    border-color: none;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    justify-content: center;
    display: inline-flex;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    flex-direction:column ;
    gap: 50px;
    line-height: 1.5; 
    /* vertical-align:middle;  */
}

.fbutton:hover {
    background-color: #3f84af;
}
